/*font import, Raleway, light, regular, bold*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

/*soft reset and font*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


/*fonts*/

h1, h2, h3, h4{
    font-weight: 700;
}

h2 {
    font-size: 46px;
}

p{
    font-weight: 300;
    line-height: 30px;
    font-size: 18px;
}

a{
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}


/*Navigation*/
.navUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navLi {
    cursor: pointer;
}
.navLi a {
    color: #327AB6;
    padding: 30px 32px;
    display: inline-block;
    font-size: 32px;
}
.navLi:hover {
    background-color: #F5F5F5;
}

#navLogo{
  position: absolute;
  left: 0;
}

#navLogo img {
    height: 80px;
    width: auto;
    margin-top: 8px;
}

#navLanguage{
  position: absolute;
  right: 0;
}

#navLanguage img{
    height: auto;
    width: 70px;
    margin: 20px 25% 0 25%;
}
#navLanguage p {
    text-align: center;
}

/*dropdown*/
li .dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

.dropdown-content a {
    color: #327AB6;
    padding: 12px 25px 12px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 26px;
}

.dropdown-content a:hover {
    background-color: #f5f5f5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*BreadCrumbs*/
#breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    background-color: #327AB6;
    list-style-type: none;
}

.breadcrumbLi a {
    color: #fff;
    padding: 10px;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
}


/*Slider*/

#slides{
  position: relative;
  height: 628px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sliderli{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0px;
  top: 0px;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}

.visable{
  opacity: 1;
  z-index: 2;
}

  .sliderimage{
    min-height: 628px;
    width: 100%;
    overflow: hidden;
  }

#slidercontrolscontainer{
  height: 40px;
  background-color: #327AB6;
}

#slide-dots{
    background-color: #327AB6;
}

#slide-dots li{
    display: inline-block;
    margin: 20px;
    width: 30px;
    height: 30px;
    background-color: white;
    cursor: pointer;
    border-radius: 999px;
    margin-left: 2%;
    max-width: 60%;
}

#slide-dots li:first-child{
  margin-left: 43.2%;
}

/*Welcome*/

#topbar h1{
  color: #327AB6;
  padding-top: 20px;
  margin-left: 3%;
}

#topbar p{
  width: 62vw;
  font-size: 32px;
  line-height: 40px;
  margin-left: 3%;
  margin-top: 30px;
}

#topbar img{
  margin-left: 65vw;
  margin-top: -330px;
  height: 470px;
  width: 470px;
  z-index: 5;
  position: relative;
}

#topbar{
  border-bottom: solid #327AB6 17px;
  max-height: 270px;
  padding-left: 7%;
  padding-right: 8%;
}

/*
Went with image solution (#topbar img) due to time presure
#pricecicrle{
  width: 400px;
  height: 400px;
  border: solid 30px white;
  outline: white solid 30px;
  border-radius: 50%;
  background-color: #327AB6;
  margin-left: 72%;
  margin-top: -50px;
  z-index: 5;
}

#pricecirclep{
  color: white;
  font-size: 38px;
  font-weight: bold;
}*/

/*index main section*/
#toptiles{
  background-color: #327AB6;
  margin-top: 0;
  z-index: 1;
}

#righttoptile{
  background-image: url("../Img/riptidebackground.png");
  height: 720px;
  background-repeat: no-repeat;
  margin-left: 27.5%;
  color: white;
  overflow: auto;
}

#righttoptile h2, #righttoptile p{
  margin-left: 25vw;
}

#righttoptile h2{
  margin-top: 115px;
}

#righttoptile p{
  margin-top: 24px;
  font-size: 1.6vw;
  width: 55%;
}

#righttoptile img{
   width: 140px;
   margin-left: 75%;
   margin-top: -150px;
}

#lefttoptile p{
  margin-top: -130px;
}
#lefttoptile button{
  margin-top: -120px;
}

#riptidesbutton{
  background-color: #327AB6;
  color: white;
  width: 300px;
  height: 55px;
  margin-left: 63%;
  margin-top: 98px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

#righttoptiletext{
  width: 800px;
}

#lefttoptile{
  color: white;
}

#lefttoptile img{
  width: 630px;
  position: absolute;
  margin-top: 54px;
  margin-left: 150px;
}

#lefttoptile p, #lefttoptile button{
  position: absolute;
}

#lefttoptile p{
  width: 800px;
  font-size: 1.6vw;
  top: 1520px;
  left: 7.7%;
  width: 38%;
}

#lefttoptile button{
  background-color: #81A2E3;
  color: white;
  width: 300px;
  height: 55px;
  left: 7.7%;
  top: 1735px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

#middlecontainer{
  padding-top: 100px;
  background-color: #327AB6;
  display: flex;
  height: 670px;
  border-bottom: solid white 17px;
}

#midh1{
text-align: center;
color: white;
background-color: #327AB6;
padding-top: 30px;
}

#middlecontainer img{
  width: 300px;
}

#middlecontainer p{
  text-align: center;
  margin-left: 25%;
  width: 270px;
  color: white;
  padding-bottom: 50px;
}

.thirtythree{
  width: 33%;
}

.thirtythree img{
  margin-left: 25%;
}

/*School*/
.school-gallary {
}
.school-img {
}
.school-img img {
    max-width: 46%;
    margin: 2%;
}

#schoolcircle{
  position: absolute;
  width: 18vw;
  left: 0;
  top: 3193px;
}

#bottomcontainer {
    background-color: #339933;
    display: flex;
}
.school {
    flex: 1;
    margin: 8%;
    color: #fff;
}
#bottomcontainer p {
    margin-top: 40px;
    margin-bottom: 25px;
}
#bottomcontainer a {
    background-color: #75BE5F;
    border: none;
    color: #fff;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* Specs */

#specs{
  height: 600px;
  background-color: #81A2E3;
  display: flex;
  justify-content: space-between;
  border-bottom: solid white 15px;
}

#specsleft{
  max-width: 45%!important;
}

#specsleft img{
  width: 14vw;
  position: absolute;
  top: 2812px;
  left: 27.5%;
}

#specsright img{
  width: 26vw;
  margin-top: -50px;
  float: right;
}

#specsright{
  background-image: url("../Img/specsdeviderimg.png");
  height: 600px;
  background-repeat: no-repeat;
  width: 73%;
}

#specsleftul{
 list-style-type: none;
 margin-left: 27%;
 margin-top: 50px;
}

#specsleft h2{
  color: white;
  margin-left: 27%;
  margin-top: 30px;
}

#specsleftul li{
  text-decoration: underline;
  font-size: 18px;
  color: white;
  margin-top:40px;
}

#specsright h2{
  margin-left: 35%;
  margin-top: 30px;
  color: white;
}

#specsright ul{
  list-style-type: none;
  margin-left: 35%;
  margin-top: 30px;
}

#specsright li{
  margin-top: 30px;
  font-size: 25px;
  color: white;
}

/*360 Video*/
#videocontainer {
  background-color: #666666;
  display: flex;
}

.video-box {
    flex: 1;
}
/*Video*/
.video {
  height: 70%;
  margin-bottom: 24.4%;
  margin-left: 25%;
  margin-top: 5.6%;
  width: 50%;
}


/* these lie */

#videorightcircle{
 width: auto;
 height: 390px;
 position: absolute;
 left: 0;
 top: 4022px;

}

#videoleftcircle{
  position: absolute;
  right: 0;
  width: auto;
  height: 390px;
  top: 4292px;
}

/*Newsletter*/
#mailcontainer {
  background-color: #327AB6;
  display: flex;
  background: url("../Img/newsletter-background.png");
  height: 340px;
}
.mail-box {
  flex: 1;
}
.mail-box-background {
  width: 100%
}

.newsletter-header {
  color: #ffffff;
  padding-left: 8%;
  margin-top: 50px;
}

.email-input {
  border-style: none;
  margin-left: 8%;
  margin-top: 5%;
  width: 35%;
  height: 50px;
}

#subscribe-button {
  border-style: none;
  margin-left: 2.7%;
  margin-top: 5%;
  width: 5%;
  height: 50px;
  color: #000000;
  background-color: #ffffff;
}

/* bootcamp image top section */

#topimagecontainer{
  height: 400px;
  background-image: url("../Img/bootcamp-banner.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 35px;
}

#topimagecontainer h1{
  text-align: center;
  color: white;
  font-size: 65px;
}

#topbluebar{
  height: 42px;
  background-color: #327AB6;
}

/*Bootcamp intro*/
.bootcamp_intro_booking {
  display: flex;
  justify-content: flex-start;
  background-color: white;
}

.bootcamp_intro > h2 {
  background: white;
  color: #327AB6;
  font-weight: bold;
  font-size: 32px;
  line-height: 100px;
  margin-top: 44px;
  margin-bottom: 0;
  padding-left: 141px;
}
.bootcamp_intro > p {
  background: white;
  color: black;
  font-size: 28px;
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 0;
  padding-left: 141px;
  padding-right: 141px;
}
.bootcamp_intro_booking > h3 {
  background: white;
  color: black;
  font-size: 32px;
  font-weight: bold;
  line-height: 161px;
  margin-top: 0px;
  margin-bottom: 0;
  padding-left: 141px;
}
/*Booking button top*/
.booking_button_bootcamp {
  background: #ffffff;
	border: 1px solid #327AB6;
  color: #327AB6;
  cursor: pointer;
  display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
  font-size: 32px;
	line-height: 1;
  margin-top: 57px;
  margin-left: 108px;
	padding: 5px 10px;
	text-align: center;
}
.booking_button_bootcamp:hover {
  background-color: #327AB6;
	color: white;
}

/*Bootcamp information tiles*/
.tile-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.tile-container > div {
  height: 638px;
}
/*Tile colors*/
.e-sport {
  background-color: #666666;
}
.facilities {
  background-color: #327AB6;
  flex-direction: row-reverse;
}
.nature {
  background-color: #339933;
}

/*Tile text*/
.tile_block1 {
 margin-left: 138px;
 margin-right: 138px;
 margin-top: 60px;
}
.tile_block1 > h2 {
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin-top: 0px;
}
.tile_block1 > p {
  color: white;
  line-height: 1.6;
  font-size: 22px;
  font-weight: 100;
}

/*Tile picture*/
.tile_block2 {
  margin-right: 138px;
  margin-top: 100px;
  padding-bottom: 0px;
}

.tileimgbig{
   width: 45vw;
   height: 520px;
   margin-top: -45px;
}

.tileimgsmall1{
   width: 12vw;
}

.tileimgsmall2{
  width: 15vw;
}

.tileimgsmall3{
   width: 11vw;
}

.facilities_block2 {
  margin-left: 138px;
  margin-top: 100px;
  padding-bottom: 0px;
}
/*E-sport tile*/
.e-sport  {
  display: flex;
  justify-content: space-between;
}
.trophy {
  margin-left: 318px;
  margin-top: -120px;
  position: absolute;
}
.e-sport_circle {
  margin-left: 520px;
  margin-top: -570px;
  position: absolute;
}

.e-sport_circle img{
  margin-left: 50%;
}

.nature_circle img{
  margin-left: 55%;
}

/*Facilities tile*/
.facilities {
  display: flex;
  justify-content: space-between;
}
.swimmer {
  margin-left: 318px;
  margin-top: -120px;
  position: absolute;
}
.facilities_circle {
  margin-left: -100px;
  margin-top: -570px;
  position: absolute;
}

/*Cabins and Nature tile*/
.nature {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.three {
  margin-left: 85%;
  margin-top: -140px;
}
.nature_circle {
  margin-left: 520px;
  margin-top: -570px;
  position: absolute;
}

/*Budget*/

#budget {
  background-color: #666666; /*remove this later*/
    display: flex;
    width: 100%;
    height: 200px;
    background-image: url("../Img/budget-background.png");
    background-repeat: no-repeat;
    background-size: 1905px 200px;
}

.budget-background {
  width: 100%;
}
#budget-prices {
  margin-left: 8%;
  width: 34%;
}

#budget-prices h2 {
  color: white;
}

#budget-prices p {
  display: inline;
  color: white;
}

#deluxe-prices {
  margin-left: 22%;
  text-align: right;
  width: 33%;
}

#deluxe-prices h2 {
  color: white;
}

#deluxe-prices p {
  color: white;
}

/*Prices*/

#pricebox {
  background-color: #F5F5F5; /*remove this later*/
    display: flex;
    width: 100%;
}

#pricebox-prices {
  margin-left: 8%;
  width: 34%;
}

#pricebox-prices h2 {
  color: #327AB6;
}

#pricebox-deals{
}

#deluxh1{
  margin-top: 20px;
  position: absolute;
  left: 87.4%;
  top: 3198px;
}

.pricetile ul li{
  margin: 60px;
}

.blueprice{
  background-image: url("../Img/blueprice.png");
  background-repeat: no-repeat;
}

.greenprice{
  background-image: url("../Img/greenprice.png");
  background-repeat: no-repeat;
}

.greyprice{
  background-image: url("../Img/greyprice.png");
  background-repeat: no-repeat;
  margin-top: -2px;
}

.greybudget{
  margin-top: 50px;
  background-image: url("../Img/greybudget.png");
  background-repeat: no-repeat;
}

.pricetile ul{
  list-style-type: none;
  position: absolute;
  left: 74%;
  margin-top: -15px;
  font-size: 20px;
}

.pricetile{
  height: 187px;
  width: 49vw;
  margin-left: 14.906%;
}


.pricetile h2, .pricetile p{
  float: left;
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
  color: white;
}

.pricetile h1{
  float: right;
  margin-top: -120px;
  margin-right: 8%;
}

#dealicons{
  position: absolute;
  list-style-type: none;
  left: 46.5%;
}

#dealicons img{
  width: 7vw;
}

#dealicons li{
  margin-top: 60px;
}

#dealicons #lastli{
  margin-top: 160px;
}

/*Calendar*/
#calendercontainer {
    margin-bottom: 80px;
}
#Calendar {
    margin: 0 25% 0 25%;
}
#Calendar h2 {
    margin: 100px 0 50px 0;
    color: #327AB6;
}
#cal-month p {
    flex: 1;
}
#cal-month {
    border: solid;
    color: #DFDFDF;
}
.cal-days, #cal-month, #cal-dayname, #booking{
    display: flex;
    flex-direction: row;
}
#cal-dayname p {
    flex: 1;
}

#calbook p{
  width: 150px;
}

.cal-days p {
    flex: 1;
    line-height: 80px;
}
.grey, .white {
    border: solid;
    border-color: #DFDFDF;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
}
.grey {
    background-color: #E8E8E8;
}
.white {
    background-color: #fff;
}
.offmonth {
    color: #B9B9B9;
}
.pastdays {
    font-weight: 300;
}
.currentday {
    background-color: #AAAAAA;
    font-weight: 700;
    text-decoration: underline;
}
#booking p{
    flex: 1;
}
.bookingbutton {
    background-color: #327AB6;
    color: #fff;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    font-weight: 700;
}


/*Footer*/

.media-icon {
  height: 50px;
  width: auto;
  margin: 5px;
}

#sponsor-line, #info-line, #social-media-line {
    display: flex;
    flex-wrap: wrap;
}

#sponsor-line {
    justify-content: center;
}
#sponsor-line img {
    margin: 10px 50px;
}


#info-line {
    background-color: #F5F5F5;
    border-bottom: solid;
    border-top: solid;
    border-width: 1px;
}
#info-line p{
    flex: 1;
    margin: 20px 0 20px 0;
}

/* media queries */

@media  screen and (max-width: 1600px) {
    #righttoptile p, #lefttoptile p{
      font-size: 15px;
      width: 30%;
    }
    #righttoptile h2{
      margin-left: 40%;
    }
    #righttoptile img{
      margin-top:-70px;
      margin-left: 70%;
    }
    #lefttoptile button{
      margin-top: -64px;
      cursor: pointer;
    }
    #teamp{
      position: absolute;
      right: 13.4%;
    }
    #lefttoptile img{
      width: 530px;
      position: absolute;
      margin-top: 54px;
      margin-left: 120px;
    }
    #righttoptile p{
      margin-left: 50%;
    }
    #teamp{
      font-size: 25px!important;
      margin-left: 35%!important;
    }
    #specsleftul li{
      font-size: 14px;
    }
    #specsleft img{
      left: 29%;
    }
    #specsright li{
      font-size: 18px;
      margin-left: 11%;
    }
    #dealicons #lastli{
      margin-top: 160px;
    }
    #dealicons img{
      margin-top: 20px;
    }
    #videorightcircle{
      top: 3935px;
    }
    #videoleftcircle{
      top: 4142px
    }
    .greybudget{
      margin-top: 195px;
    }
    #dealicons #lastli {
    margin-top: 277px;
    }
    #deluxh1{
      margin-top: 54px;
      left: 85.9%;
    }
    .e-sport_circle img{
      margin-left: 18%;
    }
    .nature_circle img{
      margin-left: 7%;
    }
}

/* 404 */

#boxfor404{
  width: 100vw;
  height: 100vh;
  background-image: url("../Img/404.jpg");
  background-size: 100% 100%;
}

/* shameful css */
.latefixerdiv{
  height: 100%;
  width: 8%;
}
