@media (min-width: 320px) and (max-width: 480px) {
    *{

    }
    header{
      position: relative;
      -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
      height: 35px;
    }

    header nav{
      overflow: hidden;
      height: 30px;
    }
    .navLi{
      display: none;
    }

    #navburger{
      position: absolute;
      top:7px;
      left: 10px
    }

    #navburger img{
      display: initial!important;
      width: 30px;
      height: 20px;
    }

    #breadcrumbs, #slider, .slide-dots{
      display: none;
    }

    #topbar{
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      background-image: url("../Img/welcomebgmobile.png");
      background-size: cover;
    }

    #topbar img{
      width: 50px!important;
      margin-left: 85vw;
    }

    #topbar h1{
      font-size: 15px;
      text-align: center;
    }

    #lefttopicon{
      width: 200px;
      height: auto;
      margin-left: 24%;
      margin-top: -10px;
      padding-bottom: 50px;
    }

    #topbar p{
      font-size: 12px!important;
      line-height: 15px;
      width: 77vw;
    }

    .pricecirleimgsmall{
      width: 50px;
    }

    #midh1, .pricecirle, #riptidesbutton, #specsright img, #lefttoptile button, #righttoptile h2, #teamp, #righttopicon, #middlecontainer, #specs, .nonmobile, #subscribe-button, .video-box, #schoolbutton, #videorightcircle, #videoleftcircle, #schoolcircle{
      display: none!important;
    }

    #navburger, .pricecirleimgsmall, #smallbookbubble, #lefttoptile br, #riptile, #mobileinfo, #mobilefooter, #mobilenavlogo, #smallsendbubble, #smallcontactbubble, #schoolmobilea{
      display: initial!important;
    }

    #lefttoptile, #righttoptile{
      width: 100%;
      height: 200px;
      background-image: none;
      margin: 0;
    }
    #righttoptile{
      background-color: #81A2E3;
    }

    #righttoptiletext{
      font-size: 12px!important;
      width: 90%!important;
      padding-left: 4%;
      padding-right: 4%;
      margin-top: -80px!important;
      max-height: 200px!important;
      margin-left: 0!important;
      line-height: 17px;
    }

    #specsright{
      background-image: none;
    }

    #lefttoptile{
      margin-top: 0px;
      background-color: #327AB6;
    }

    #lefttoppcon{
      margin-top: 50px;
    }

    #lefttoptile p{
      width: 90%!important;
      padding-left: 4%;
      padding-right: 4%;
      font-size: 12px!important;
      position: initial!important;
      line-height: 18px;
    }

    #smallbookbubble{
      width: 60px!important;
      height: auto;
      right: 10px;
      position: absolute;
      top: 352px;
    }

    #riptile{
      margin-left: 24%;
      width: 40%;
      height: auto;
      margin-top: 10px;
      margin-bottom: 90px;
    }

    .more{
      width: 60px!important;
      height: auto;
      right: 10px;
      position: absolute;
      top: 563px;
    }

    .thirtythree{
      width: 100%;
      font-size: 15px;
      height: 150px!important;
    }

    .thirtythree img{
      width: 30%;
      height: auto;
      margin: 0;
      padding: 0;
    }

    .numbertwo p{
      float: right;
    }

    #mobileinfo img{
      width: 100%;
      height: 500px;
    }

    #bottomcontainer{
      margin-top: -10px;
    }

    .school-img{
      float: left;
    }

    .school-img img{
      width: 145px;
      height: auto;
      max-width: 159%;
      margin-top: 3px;
    }

    #bottomcontainer p{
      margin-top: 40px;
      width: 115%;
      line-height: 15px;
    }

    #subscribe-button, #email-input{
      float: left;
    }

    #email-input{
      width: 80%;
      margin-left: 4%;
      height: 30px;
    }

    .newsletter-header{
      padding-left: 4%;
      margin-top: 20px;
    }

    #mailcontainer{
      height: 200px;
      background: url("../Img/mobilenewsbg.png");
      background-size: cover;
    }

    #smallsendbubble{
      width: 60px!important;
      height: auto;
      right: 10px;
      position: absolute;
      top: 1507px;
    }

    #smallcontactbubble{
      width: 60px!important;
      height: auto;
      right: 10px;
      position: absolute;
      top: 1315px;
    }

    #bottomcontainer a{
      padding: 0;
      background-color: none;
    }

    #bottomcontainer p{
      margin-top: 25px;
      width: 109%;
    }

    .school{
      margin: 4%;
    }

    #mobilefooter{
      width: 100%;
      height: 150px;
    }

    #mobilefooterimg{
      width: 100%;
      margin-top: 20px;
    }

    #mobilefootertxt{
      margin: 22px;
      text-align: center;
      font-size: 25px;
    }

    #mobilefooterul{
      text-decoration: none;
      list-style-type: none;
    }

    .mobilesocial{
      width: 17%;
      float: left;
      margin-left: 4%;
      margin-right: 4%;
    }

    .mobilesocial img{
      height: 50px;
      width: auto;
    }

    #mobilenavlogo{
      position: absolute;
      top: 4px;
      left: 33%;
      width: 75px;
      height: auto;
    }








































    /*Bootcamp*/
    h1 {
        font-size: 14px;
    }
    p, h2 {
        font-size: 14px!important;
    }
    #topimagecontainer {
        width: 100%;
        height: auto;
    }
    .facilities_circle, .e-sport_circle, .nature_circle, .tileimgsmall, #calendercontainer, #breadcrumbs, .tileimgsmall, #pricebox-prices, #topimagecontainer, #topbluebar, .tile_block1 p br, .bootcamp_intro_booking h3, .bootcamp_intro_booking a, #budget  {
        display: none;
    }



    .e-sport, .nature, .facilities {
        display: flex;
        flex-flow: column-reverse;
    }

    .tile_block1 {
        flex: 1
    }
    .tile_block2 {
        margin: 0;
        flex: 1;
    }
    .tile_block2, .facilities_block2 {
        padding-bottom: 20px;
    }

    .tileimgbig {
        width: 92%;
        height: auto;
        margin: auto;
        text-align: center;
        display: block;
    }

    .facilities_block2 {
    margin-left: 0;
    margin-top: 0;
}


    header nav{
        overflow: hidden;
        height: 55px;
    }

    #deluxh1 {
        margin-top: -1055px;
        left: 53.9%;
    }

    .pricetile ul {
    list-style-type: none;
    position: absolute;
    left: 39%;
    margin-top: -15px;
    font-size: 20px;
    }

    .pricetile {
        width: auto;
        height: 150px;
    }

    .pricebox-prices p {
    width: 50px;
    }

    #dealicons li img {
        width: 50%;
        margin-top: 70px;
    }
    #dealicons li {
        margin: 0;
    }
    #dealicons {
        left: 1.5%;
    }
    #lastli {
        margin-top: 213px!important;
    }

    .bootcamp_intro p, .bootcamp_intro h2, .tile_block1 {
    margin: 0;
    padding-left: 4%;
    padding-right: 4%;
    }

    .tile-container > div {
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin: 20px; */
    }
    
    .pricetile h2, .pricetile p {
    float: left;
    width: 80%;
    margin-left: 19%;
    margin-top: 48px;
    color: white;
}
    .pricetile ul {
    list-style-type: none;
    position: absolute;
    left: 62%;
    margin-top: -35px;
    font-size: 14px;
}
    .pricetile ul li {
    margin: 55px;
        margin-right: 0;
}
    .pricetile h1 {
    float: right;
    margin-top: -92px;
    margin-right: 8%;
}
    .pricetile {
    background-size: cover;
    background-repeat: no-repeat;
    }
    #deluxh1 {
    margin-top: -1124px;
    left: 75.9%;
}
    .greybudget {
    margin-top: 90px;
}
    #lastli {
    margin-top: 113px!important;
}
    .pricetile p {
    margin-top: 6px;
}

    #sponsor-line {
        display: flex;
        flex-flow: wrap;
    }
    #sponsor-line img {
        flex: 1;
    }
}
